  html, body {
	width: 100%;
	height: 100%;
}
body {
	background: url('/assets/security.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
iframe {
	min-height: 480px;
	min-width: 49%;
	box-shadow: 1px 5px 5px -2px;
	border: none;
}
h3 {
	color: white;
}
.image-container {
	max-width: 100%;
    overflow: auto;
    position: relative;
    height: 100px;
}

.image-container img {
	width: 100px;
    height: 100px;
    margin: 5px;
    float: left;
}
img {
	width: 50px;
	height: 50px;
}
#nav-footer .navbar-brand {
	color: white !important;
	position: relative;
	width: 120px;
	margin-left: 10px;
}

#nav-footer .navbar-brand:hover {
	background: #1D5F98;
}

#nav-footer .container {
	width: 100%;
}

#nav-footer {
	background-color: #337AB7 !important;
	border-color: none !important;
}

#nav-footer .brand-logo {
	margin-top: -15px;
	margin-left: -25px;
}

#nav-footer .navbar-brand span {
	position: absolute;
	top: 15px;
	left: 41px;
}
#current-time {
	position: absolute;
	right: 20px;
	font-size: 20px;
	color: white;
	top: 11px;
}
#login {
	height: 250px;
	width: 400px;
	margin-bottom: auto;
	overflow: hidden;;
}
.centered {
	border: 1px solid;
	background-color: white;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
}

.hidden {
	display: none;
}