<div class="popeye-modal-container">
  <div class="popeye-modal">
    <a class="popeye-close-modal" href ng-click="$close()"></a>
    <h3>System Information:</h3>
    <div class="row">
      <div class="col-sm-3"><h4>Version:</h4></div>
      <div class="col-sm-9"><div class="info">{{ version }}</div></div>      
    </div>
    <div class="row">
      <div class="col-sm-3"><h4>IP Address:</h4></div>
      <div class="col-sm-9"><div class="info">{{ ipAddress }}</div></div>      
	 </div>
  </div>
</div>