<div class="popeye-modal-container" ng-init="getConfig()">
  <div class="popeye-modal">
    <a class="popeye-close-modal" href ng-click="$close()"></a>
    <h3>System Settings:</h3>
	 <div class="row">
      <div class="col-sm-3"><h4>Video files:</h4></div>
      <div class="col-sm-9">
        <div class="info" title="{{ videoPath }}">{{ videoPath }}</div>
        <button title="Open directory" class="info-btn btn btn-danger pull-right" ng-click="selectDirectory(videoPath)">
          <i class="glyphicon glyphicon-folder-open"></i>
        </button>
      </div>      
    </div>
    <div class="row">
      <div class="col-sm-3"><h4>Image files:</h4></div>
      <div class="col-sm-9">
        <div class="info" title="{{ imagePath }}">{{ imagePath }}</div>
        <button title="Open directory" class="info-btn btn btn-danger pull-right" ng-click="selectDirectory(imagePath)">
          <i class="glyphicon glyphicon-folder-open"></i>
        </button>
      </div>      
    </div>
    <div class="row">
      <div class="col-sm-3"><h4>Mobile number:</h4></div>
      <div class="col-sm-9"><div class="info">
          <input type="text" class="form-control" ng-model="config.phoneNumber" placeholder="e.g 639175169014"> 
      </div></div>      
    </div>
    <div class="row">
      <div class="col-sm-3"><h4>Motion detected:</h4></div>
      <div class="col-sm-9"><div class="info">
        <div class="checkbox">
          <label><input type="checkbox" value="" ng-model="config.motion.send_sms">Send SMS</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="" ng-model="config.motion.tragger_alarm">Trigger Alarm</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="" ng-model="config.motion.capture_image">Capture Image</label>
        </div>       
      </div>
      <button ng-click="saveConfig()" class="btn btn-danger pull-right">
        <i class="glyphicon glyphicon-floppy-save"></i>
          Save
      </button>
    </div>
  </div>
</div>