<div class="ui small modal">
    <i class="close icon huge red"></i>

    <h2 class="ui dividing header blue">Add wallet amount</h2>
    <div class="content five wide computer">
		<div class="row">
			<div class="centered">
				<div class="col-sm-6">
					<img src="assets/images/monitor.png">
				</div>
				<div class="col-sm-6">
					
				</div>
				<div class="col-sm-6">
					
				</div>
				<div class="col-sm-6">
					
				</div>		
			</div>
		</div>      
    </div>
</div>

    <script type="text/ng-template" id="menu.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>