<div id="nav-footer" class="navbar navbar-fixed-bottom">
	<div class="container">
		<div class="navbar-header">		
		<a class="navbar-brand" href="#" ng-click="about()" title="System Information">
			<img class="brand-logo" alt="Brand" src="assets/images/monitor.png">
			<span>Secured</span>
		</a>
		</div>
		<div class="option-menu" ng-show="user">
			<div class="menu-item" title="Camera" ng-class="{ 'active': selectedMenu === 'camera' }">
				<a ui-sref="monitoring">
					<img src="assets/images/start_record.png">					
				</a>
			</div>
			<!--<div class="menu-item" title="View Remote" ng-class="{ 'active': selectedMenu === 'remote' }">
				<a ng-click="remote()">
					<img src="assets/images/connect.png">						
				</a>
			</div>-->
			<div ng-click="selectedMenu = 'users'" class="menu-item" title="View Users" ng-class="{ 'active': selectedMenu === 'users' }">
				<a ng-click="users()">
					<img src="assets/images/users.png">
				</a>				
			</div>
			<div class="menu-item" title="Settings" ng-class="{ 'active': selectedMenu === 'settings' }">
				<a ng-click="config()">
					<img src="assets/images/setting.png">
				</a>				
			</div>
			<div class="menu-item" title="Logout">
				<a ui-sref="login" ng-click="logout()">
					<img src="assets/images/logout.png">					
				</a>
			</div>
		</div>
		<span id="current-time" time></span>
	</div>
</div>