
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Remote View</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
        <!-- scripts used for broadcasting -->
        <script src="/assets/firebase.js"> </script> <!-- Signaling -->
        <script src="/assets/RTCPeerConnection-v1.5.js"> </script> <!-- WebRTC simple wrapper -->
        <script src="/assets/broadcast.js"> </script> <!-- Multi-user connectivity handler -->
        <script src="/assets/jquery.min.js"></script>
        <script src="/assets/moment.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
              var socket = io();
                socket.on('trigger-alarm', function (data) {
                    console.log('Alarm trigger');
                    var audio = new Audio('assets/alarm.mp3');
                        audio.play();               
                });
                socket.on('trigger-capture', function (data) {
                    console.log('Image captured');
                    $('.image-container').append('<img src="'+ data.content +'" width="100" height="100">');                                        
                });
        </script>        
    </head>
    <body>
    
    <div class="container hidden" id="remote-view">
        <h3>Remote View</h3>        
        <div id="camera-container" class="row">            
        </div>
        <div class="image-container"></div>
    </div>
    
    <div id="nav-footer" class="navbar navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">		
                    <a class="navbar-brand" href="#" title="System Information">
                    <img class="brand-logo" alt="Brand" src="assets/monitor.png">
                    <span>Secured</span>
                </a>
            </div>
            <span id="current-time" time></span>
        </div>
    </div>
    <div class="container" id="login-view">
        <div class="centered panel panel-primary" id="login">
        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="section">
                    <div class="row">
                        <div class="col-md-12">
                        <form id="login-form" role="form">
                            <div class="form-group">
                            <label class="control-label" for="username">Username:</label>
                            <input class="form-control" id="username" ng-model="username"
                            placeholder="Enter username" type="text">
                            </div>
                            <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input class="form-control" id="password" ng-model="password"
                            placeholder="Password" type="password">
                            </div>
                            <button type="submit" class="btn btn-danger pull-right">Submit</button>
                        </form>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
    </div>      
            <script>
                var config = {
                    openSocket: function(config) {        
                        var channel = 'homeko';
                        var socket = new Firebase('https://webrtc.firebaseIO.com/' + channel);
                        socket.channel = channel;
                        socket.on("child_added", function(data) {
                            config.onmessage && config.onmessage(data.val());
                        });
                        socket.send = function(data) {
                            this.push(data);
                        };
                        config.onopen && setTimeout(config.onopen, 1);
                        socket.onDisconnect().remove();
                        return socket;
                    },
                    onRemoteStream: function(htmlElement) {                        
                    },
                    onRoomFound: function(room) {
                        var isExist = $('#' + room.broadcaster);
                        
                        if (isExist.length === 0) {
                            $('#camera-container').append('<iframe id="'+ room.broadcaster +'" src="/camera?broadcaster=' + room.broadcaster + '"></iframe>');
                        }
                    }
                }; 

                var broadcastUI = broadcast(config);

                /* UI specific */
                var videosContainer = document.getElementById('videos-container') || document.body;
                var setupNewBroadcast = document.getElementById('setup-new-broadcast');
                var roomsList = document.getElementById('rooms-list');

                var broadcastingOption = document.getElementById('broadcasting-option');

                if (setupNewBroadcast) setupNewBroadcast.onclick = setupNewBroadcastButtonClickHandler;

                function hideUnnecessaryStuff() {
                    var visibleElements = document.getElementsByClassName('visible'),
                        length = visibleElements.length;
                    for (var i = 0; i < length; i++) {
                        visibleElements[i].style.display = 'none';
                    }
                }

                setInterval(function() {
				    $('#current-time').html(moment().format('MMM. DD, YY - HH:mm:ss'));
			     }, 1000);
                 
                 $( "#login-form" ).submit(function( event ) {
                    var username = $('#username').val();
                    var password = $('#password').val();
                    event.preventDefault(); 
                    $.ajax({
                        url: '/login',
                        type: "POST",
                        async: true,
                        data: { username: username, password: password },
                        success: function(result) {
                            if (result) {
                                $('#remote-view').removeClass('hidden');
                                $('#login-view').addClass('hidden');
                            }
                        },
                        error: function(err) {
                            alert('Invalid username or password');
                        }
                    });                    
                });

            </script>            
    </body>
</html>
