video, canvas {
	transform: scale(-1, 1);   
}
body {
    width: 100%;
    height: 100%;
    background: url('../images/security.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#menu .col-sm-6 {
	height: 50%;
}
.centered {
	border: 1px solid;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

#login {
	height: 250px;
    width: 400px;
    margin-bottom: auto;
    overflow: hidden;
}

#monitoring .camera-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#monitoring #videos-container {
	visibility: hidden;
	position: absolute;
	width: 0px;
}
 img {
     width: 50px;
     height: 50px;
 }

 #nav-footer .navbar-brand {
     color: white !important;
     position: relative;
     width: 120px;
     margin-left: 10px;
 }
 
 #nav-footer .navbar-brand:hover {
     background: #1D5F98;
 }
 
 #nav-footer .container {
     width: 100%;
 }

 #nav-footer {
    background-color: #337AB7 !important;
    border-color: none !important;
 }

 #nav-footer .brand-logo {
    margin-top: -15px;
    margin-left: -25px;
 }

 #nav-footer .navbar-brand span {
    position: absolute;
    top: 15px;
    left: 41px;
 }
 
#current-time {
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: white;
    top: 11px;
 }
 
#user-list {
    max-height: 400px;
    margin-bottom: auto;
}

#user-list #add-user-btn {
    margin: 0px 25px;
}

.info {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 50px);
}

.info-btn {
    margin-top: -25px;
}

.option-menu {
    width: 300px;
    margin: auto;
    height: 50px;
}

.option-menu .menu-item {
    height: 100%;
    cursor: pointer;
    width: 60px;
    float: left;
    text-align: center;
}
.option-menu .menu-item:hover, .menu-item.active {
    background: #1D5F98;
}

.option-menu .menu-item img {
    width: 45px;
    height: 45px;
    margin-top: 2px;   
}

.popeye-modal-container {
    z-index: 1031 !important;
}

.video-container 
{
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
    left: 0px;
}

.video-container button {
    margin-top: -60px;
}

.video-container video, .snapshot {
    min-width: 100%;
    min-height: 100%;
}

.camera-control {
    position: absolute;
    top: 20px;
    z-index: 1001;
}

.camera-control i {
    margin-left: 30px;
    color: #E9F2F7;
    cursor: pointer;
}

.camera-control .active {
    color: #c9302c;
}
#camera-list {
    height: 100%;
}

.camera-item {
    height: calc( 100% - 50px);
    position: relative;
}

.snapshot {
    position: absolute;    
    z-index: 100;
    top: 0px;
}