<!--<img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
class="img-responsive">-->

<div id="{{ camera.deviceId }}" class="video-container" ng-hide="camera.hide">
	<canvas id="canvas-{{ camera.deviceId }}" class="snapshot animated" ng-class="{ 'zoomOut': closeSnapshot === true }"></canvas>
	<video id="video-{{ camera.deviceId }}" autoplay muted="muted" class="embed-responsive-item" >
	</video>
	<div class="camera-control">
		<i id="record-{{ camera.deviceId }}" class="glyphicon glyphicon-record" title="{{ recording ? 'Recording' : 'Start record' }}"
			ng-class="{'active': recording }"></i>
		<i id="stop-record-{{ camera.deviceId }}" class="glyphicon glyphicon-stop" title="Stop recording"></i>
		<i class="glyphicon glyphicon-camera" title="Capture" ng-click="capture(camera.deviceId, $index)"></i>
		
		<i id="motion-{{ camera.deviceId }}" class="glyphicon" title="Toggle motion detection"
			ng-class="{'active': motion, 'glyphicon-eye-open': motion, 'glyphicon-eye-close': !motion  }">
		</i>
		<i id="broadcast-{{ camera.deviceId }}" class="glyphicon glyphicon-globe" title="Toggle motion detection"
			ng-class="{'active': broadcast }">
		</i>
		<i id="full-screen-{{ camera.deviceId }}" class="glyphicon glyphicon-resize-full" title="Full screen"></i>
		<i class="glyphicon glyphicon-remove" title="Close camera" ng-click="camera.hide = true">
		</i>
	</div>
</div>
