<div class="popeye-modal-container">
  <div class="popeye-modal">
    <a class="popeye-close-modal" href ng-click="$close()"></a>
    <h3>View remote cam:</h3>
    <form ng-submit="submit()">
          <fieldset class="form-group">
            <label for="fullname">Enter IP address:</label>
            <input ng-model="ip" type="text" class="form-control" id="ip" placeholder="ex. 192.168.1.1" required="">
          </fieldset>
          <fieldset class="form-group">
            <label for="username">Username</label>
            <input ng-model="username" type="text" class="form-control" id="username" placeholder="Enter username" required="">
          </fieldset>
          <fieldset class="form-group">
            <label for="password">Password</label>
            <input ng-model="password" type="password" class="form-control" id="password" placeholder="Enter password" required="">
          </fieldset>
        <button type="submit" class="btn btn-danger pull-right">Submit</button>
    </form>
   </div>
  </div>
</div>