<div class="section" ng-init="init()" id="monitoring">
	<div id="videos-container"></div>
	<div id="camera-list">
		<div class="camera-item col-md-{{ ( 12 / cameraList.length) }}" camera ng-repeat="camera in cameraList">		
	</div>
</div>