<div class="centered panel panel-primary" id="login">
	<div class="panel-heading">
		<h3 class="panel-title">Login</h3>
	</div>
	<div class="panel-body">
		<div class="col-md-12">
			<div class="section">
				<div class="row">
					<div class="col-md-12">
					<form role="form" ng-submit="submit()">
						<div class="form-group">
						<label class="control-label" for="username">Username:</label>
						<input class="form-control" id="username" ng-model="username"
						placeholder="Enter username" type="text">
						</div>
						<div class="form-group">
						<label class="control-label" for="password">Password</label>
						<input class="form-control" id="password" ng-model="password"
						placeholder="Password" type="password">
						</div>
						<button type="submit" class="btn btn-danger pull-right">Submit</button>
					</form>
					</div>
				</div>
				</div>
		</div>
	</div>
</div>