<div class="popeye-modal-container">
  <div class="popeye-modal">
    <a class="popeye-close-modal" href ng-click="$close()"></a>
    <h3>New user</h3>
    <form ng-submit="submit()">
      <fieldset class="form-group">
        <label for="fullname">Full name:</label>
        <input ng-model="user.fullname" type="text" class="form-control" id="fullname" placeholder="ex. Juan Dela Cruz" required="">
      </fieldset>
      <fieldset class="form-group">
        <label for="username">Username</label>
        <input ng-model="user.username" type="text" class="form-control" id="username" placeholder="Enter username" required="">
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Password</label>
        <input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Enter password" required="">
      </fieldset>
      <fieldset class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input ng-model="confirmPassword" type="password" class="form-control" id="confirm-password" placeholder="Confirm password" required="">
      </fieldset>
      <fieldset class="form-group">
        <label for="role">Select Role</label>
        <select class="form-control" id="role" ng-model="user.role" required>
          <option>Admin</option>
          <option>Viewer</option>
        </select>
      </fieldset>
      <button type="submit" class="btn btn-danger pull-right">Submit</button>
    </form>
  </div>
</div>