<div class="popeye-modal-container">
  <div class="popeye-modal">
    <a class="popeye-close-modal" href ng-click="$close()"></a>
    <h3>System Information:</h3>
    <button id="add-user-btn" class="btn btn-danger pull-right" ng-click="addUser()" title="Add new user">
          <i class="glyphicon glyphicon-plus"></i>
    </button>
   
  <table id="user-list" class="table" ng-init="getUsers()">
    <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Full name</th>
          <th>Role</th>
          <th>Date created</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
          <th>{{ $index + 1 }}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.fullname }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.dateCreated | date:'yyyy-MM-dd @ h:mma' }}</td>
          <td>
            <button class="btn btn-warning" ng-click="removeUser(user._id)">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </td>
        </tr>
    </tbody>
  </table>
  </div>
</div>